"*":
  core:
    audioBeep: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".pyc"
    ]
    projectHome: "/Users/arturo.fernandez/dev"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    lineHeight: 1.2
  "exception-reporting":
    userId: "cdb74945-46f4-1e09-0060-e0bd58b7b633"
  linter:
    displayLinterInfo: false
    displayLinterStatus: false
    lintOnFly: false
    showErrorPanel: false
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
    ]
  welcome:
    showOnStartup: false
