"*":
  "exception-reporting":
    userId: "60c59142-90fb-15d0-6743-b6cae3340aa1"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    projectHome: "/Users/arturo.fernandez/dev/"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    disabledPackages: [
      "vim-mode"
      "git-blame"
      "fonts"
    ]
  editor:
    invisibles: {}
    fontSize: 12
  linter:
    ignoredLinterErrors: [
      "flake8"
    ]
    lintOnFly: false
    showErrorPanel: false
  "linter-flake8":
    binaryName: "/usr/local/bin/flake8"
    ignoreErrorCodes: [
      "E501"
      "E265"
    ]
  jumpy: {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "git-blame": {}
  fonts:
    fontFamily: "Inconsolata-g"
